  <div class="row align-items-end">
    <table class="table table-condensed">
    <thead>
		 <tr>
         <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Country</th>
        <th>Tel</th>
      </tr>
    </thead>
    <tbody>
                   

                @foreach (var Person in Model.people)
{
    <partial name="_Person" model="Person"  />
}
               
     
    </tbody>
  </table>
  </div>