@using MVC1.Models;

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Doctor.css" />
           @{
            
            Fevermodel.grad = ViewBag.grad;

        }
     <link rel="stylesheet" href="~/css/Main.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4">Enter your fever level</h1>

 
     
  
   @using(@Html.BeginForm("fever","Doctor",FormMethod.Post)){
  <input type="text" class="form-control inputtext " name="grad"  placeholder="Enter your fever level" style="width:auto">
  <input class="btn btn-primary" id="submit" type="submit" value="Will I survive?">
 }
 @if (!String.IsNullOrEmpty(ViewBag.grad))
    {
       
        <h3>
          @Fevermodel.Check()
        </h3>
       
  
    }

</div>

