@section Scripts{
    <script>
        $(document).ready(function(){
            $.ajax({
                type: "Post",
                url: "@Url.Action("Load")",
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                // data: {name:"bewhrouz"}
                success: function(result) { console.log(result) },
                error: function(req, status, error) { console.log(status) }
            });
        })


    </script>
   }
    <div id="toUpdate"></div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                @using (@Html.BeginForm("Load", "PeopelAjax"))
                {
                <input class="btn btn-dark" id="submit" type="submit" value="Load">
                }

        </div>
        <div class="col">
            @using (@Html.BeginForm("Details", "PeopleAjax"))
                {
                <input type="text" class=" inputtext " name="id" placeholder="Enter id" style="width:auto">
                <input class="btn btn-primary" id="submit" type="submit" value="Details">
                <input class="btn btn-danger" id="submit" type="submit" value="Delete">
                }

        </div>

        <div id="containera">  </div>
    </div>

</div>
<input class="snipcart-add-item btn c8-bg c5-text" id="submit" type="submit" value="Delete" onclick="AddProduct()">
