@section Scripts{
    <script>
        $('#containera').on('click', '._Delete', function(e) {

            var idClicked = e.target.id;


            $.ajax({
                type: "Post",
                url: "@Url.Action("Delete")",

                data: { id: idClicked },


                success: function(result) {
                    $("#containera").html(result)
                },
                error: function(req, status, error) { console.log(status) }
            });
        });
        $(document).on('click', '#Details', function() {
                        var tempdel1 = ' <div class="row align-items-end ">\
                    <table class="table table-condensed">\
                    <thead>\
                    <tr>\
                    <th> Id </th>\
                    <th> Firstname </th>\
                    <th> Lastname </th>\
                    <th> Country </th>\
                    <th> Tel </th>\
                    </tr>\
                    </thead>\
                    <tbody >';
                var tempdel2 =  ' </tbody>\
                                  </table>\
                                  </div>';
            var value = $("#idbox").val();
            $.ajax({
                type: "Post",
                url: "@Url.Action("Details")",

                data: { id: value },
    

                        success: function(result) {
                    $("#containera").html(tempdel1+result+tempdel2)
                },
                error: function(req, status, error) { console.log(status) }
            });


        });
        $(document).on('click', '#Delete', function() {
            var value = $("#idbox").val();
            $.ajax({
                type: "Post",
                url: "@Url.Action("Delete")",

                data: { id: value },


                success: function(result) {
                    $("#containera").html(result)
                },
                error: function(req, status, error) { console.log(status) }
            });

        });
        $(document).on('click', '#load_data', function() {

            $.ajax({
                type: "Post",
                url: "@Url.Action("Load")",

                // data: {name:"bewhrouz"}
                success: function(result) {
                    $("#containera").html(result)
                },
                error: function(req, status, error) { console.log(status) }
            });
        })


    </script>
   }
    <div id="toUpdate"></div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col">


                <input class="btn btn-dark" id="load_data" type="submit" value="Load">


            </div>
            <div class="col">

                <input type="text" class=" inputtext " id="idbox" placeholder="Enter id" style="width:auto">
                <input class="btn btn-primary" id="Details" type="submit" value="Details">
                <input class="btn btn-danger" id="Delete" type="submit" value="Delete">


            </div>

            <div id="containera">  </div>
        </div>

    </div>
